body {
  background-color: rgb(26, 28, 34);
  color: #ffffff;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-top: 20px;
  text-align: center;
  color: #ffffff;
}

ul {
  list-style-type: none;
  padding: 0;
}

li {
  margin-left: 50px;
  margin-top: 10px;
  font-size: large;
}

#fixes {
  margin-top: 50px;
  margin-left: 50px;
  margin-bottom: 20px;
  font-size: large;
  font-weight: bold;
}
