html,
body {
  background-color: rgb(3, 7, 18);
  color: #ffffff;
  font-family: "JetBrains Mono";
  font-size: 18px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: #dcdcdc;
  margin-top: 50px;
  margin-bottom: 20px;
  font-size: 30px;
  font-weight: bold;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 16px;
}
