html,
body {
  background-color: rgb(26, 28, 34);
  color: #ffffff;
}

h1 {
  color: #dcdcdc;
  margin-bottom: 10px;
}

h2, h3, h4, h5, h6 {
  color: #dcdcdc;
  margin-top: 50px;
  margin-bottom: 20px;
}

li {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 18px;
}